<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rsmurniteguh.bpjs.bpjsservice.repository.BpjsConsumerRepository">

    <insert id="insert" useGeneratedKeys="true" keyProperty="bpjsconsumer_id" keyColumn="bpjsconsumer_id" parameterType="BpjsConsumer">
        INSERT INTO bpjsconsumer
        (
            consumer_id
            ,consumer_secret
            ,created_by
            ,created_datetime
            ,defunct_ind
            ,entity_code
        )
        VALUES 
        (
            #{consumer_id}
            ,#{consumer_secret}
            ,#{created_by}
            ,current_timestamp
            ,'N'
            ,#{entity_code}
        )
    </insert>

    <update id="update" parameterType="BpjsConsumer">
        UPDATE bpjsconsumer 
        <set>
            consumer_id = #{consumer_id},
            consumer_secret = #{consumer_secret},
            <if test="updated_by">
                updated_by = #{updated_by},
            </if>
            last_updated_datetime = current_timestamp
        </set> 
        <where>
            bpjsconsumer_id = #{bpjsconsumer_id}
        </where>
    </update>

    <select id="getByEntityCode" parameterType="java.util.Map" resultType="BpjsConsumer">
        SELECT * FROM bpjsconsumer WHERE entity_code = #{entity_code} AND defunct_ind = 'N'
        <if test="consumer_id != null">
            AND consumer_id = #{consumer_id} 
        </if>
    </select>
    
    <select id="getBpjsConsumerByEntityCode" parameterType="java.util.Map" resultType="BpjsConsumer">
        SELECT * FROM bpjsconsumer_pharmacy WHERE entity_code = #{entity_code} AND defunct_ind = 'N'
        <if test="consumer_id != null">
            AND consumer_id = #{consumer_id} 
        </if>
    </select>

    <insert id="insertCategory" useGeneratedKeys="true" keyProperty="bpjsconsumer_category_id" keyColumn="bpjsconsumer_category_id" parameterType="BpjsConsumerCategory">
        INSERT INTO bpjsconsumer_category
        (
            bpjsconsumer_id
            ,user_key
            ,created_by
            ,created_datetime
        )
        VALUES 
        (
            #{bpjsconsumer_id}
            ,#{user_key}
            ,#{created_by}
            ,current_timestamp
        )
    </insert>

    <select id="selectWithCategoryByEntityCode" resultType="BpjsConsumerWithCategory">
        SELECT bc.consumer_id, bc.consumer_secret, bcc.user_key, bc.entity_code, bcc.category, bc.provider_code FROM bpjsconsumer bc 
        LEFT JOIN bpjsconsumer_category bcc ON bcc.bpjsconsumer_id = bc.bpjsconsumer_id AND bcc.category = #{category} AND bcc.defunct_ind = 'N'
        WHERE bc.entity_code = #{entity_code} AND bc.defunct_ind = 'N'
    </select>

    <select id="selectWithCategoryByEntityCodeList" resultType="BpjsConsumerWithCategory">
        SELECT bc.consumer_id, bc.consumer_secret, bcc.user_key, bc.entity_code, bcc.category, bc.provider_code FROM bpjsconsumer bc 
        LEFT JOIN bpjsconsumer_category bcc ON bcc.bpjsconsumer_id = bc.bpjsconsumer_id AND bcc.defunct_ind = 'N'
        <if test="category != null">
            AND bcc.category = #{category} 
        </if>
        WHERE bc.defunct_ind = 'N' 
        <foreach collection="entity_code_list" item="item" open="AND bc.entity_code IN (" separator="," close=")">
            #{item}
        </foreach>
    </select>
    
    <select id="getBpjsConsumerList" resultType="BpjsConsumer">
        SELECT * FROM bpjsconsumer_pharmacy WHERE defunct_ind = 'N' 
        <foreach collection="entity_code_list" item="item" open="AND entity_code IN (" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>