<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rsmurniteguh.bpjs.bpjsservice.repository.JknUserRepository">
    <update id="update" parameterType="JknUser">
        update jknuser 
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password ! =null">
                consumer_secret = #{consumer_secret},
            </if>
            <if test="entity_code ! =null">
                entity_code = #{entity_code},
            </if>
            <if test="defunct_ind ! =null">
                defunct_ind = #{defunct_ind},
            </if>
            <if test="last_updated_by">
                last_updated_by = #{last_updated_by},
            </if>
            last_updated_datetime = current_timestamp
        </set> 
        where jknuser_id = #{jknuser_id}
    </update>
</mapper>